# Virtual environment
venv/
ENV/
env/

# Python cache files
__pycache__/
*.pyo
*.pyd


# Database
db.sqlite3

# Django static files
/staticfiles/
*.sqlite3
*.log
*.pot
*.pyc
*.mo

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/
*.code-workspace

# Temporary files
*.tmp
*.swp
*.swo

# Coverage reports
htmlcov/
.coverage

# Environment variables (αν έχεις .env)
.env
