# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Database
db.sqlite3

# Django static files
/staticfiles/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.swo

# Coverage reports
htmlcov/
.coverage

# Environment variables (αν έχεις .env)
.env
